<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="DBP Corp">

<!-- 파비콘(브라우저 탭 아이콘) 설정 -->
<link rel="icon" type="image/png" href="../view/images/IMG_0023.PNG">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
<link href="../view/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JavaScript -->
<script src="../view/node_modules/bootstrap/js/color-modes.js"></script>
<script src="../view/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>